@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body{
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight:300 ;
  }
  :root{
    --yellow-color:#FFFF00;
    --yellow-light: #F8F184;
    --blue-color:#19587D;
    --red-:#B11313;
    --black-one:#0D0E09;
    --black-color:#000000;
    --white-color:#ffffff;
    --gray:#C4C4C4;

    
  }
  .container{
    width: 80%;  /* largeur de l'ecran */
    margin: 0 auto;  /* pour centrer les contenus */
  
  }
  h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }
  button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
  }
  
  /* Design de la navigtion */
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:30px 0;
  
}
ul{
  list-style: none;

}
nav ul li a{
 color: var(--white-color);
 font-size: 28px;
 font-weight:normal;
 font-family: 'Rajdhani';
 text-transform: uppercase;
 text-decoration: none;
 outline: none;
 line-height:35.73px ;

}

nav ul li a:hover, 
nav ul li a:focus{
  font-weight: 800;
  border-bottom: 1px solid ;
}

 
/* Design de la partie hero */
#hero{
  background-image: url(./Assets/Illustrations/Bathome1.png);
  height: 901px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; 

}
.container-hero{
  width: 603.07px;
  height: 548px;
  position: absolute;
  top: 406px;
  left: 365px;
font-family: 'Space Grotesk';
font-size: 22px;
line-height: 28px;
text-align: center;

  
}
.fleche-down{
width: 70px;
height: 38px;
position:absolute;
left: 50%;
 transform: translateX(-50%);
bottom: 0;



}
/* Design de Batman au ciné */
.card-img{
  display: flex;
  justify-content: space-between;
}
figcaption{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

 
  
  
  