@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body{
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight:300 ;
  }
  :root{
    --yellow-color:#FFFF00;
    --yellow-light: #F8F184;
    --blue-color:#19587D;
    --red-:#B11313;
    --black-one:#0D0E09;
    --black-color:#000000;
    --white-color:#ffffff;
    --gradient-white:#EDDEBF;
    --gradient-red:#890008;
    --gray:#C4C4C4;

    
  }
  .container{
    width: 80%;  /* largeur de l'ecran */
    margin: 0 auto;  /* pour centrer les contenus */
  
  }
  h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }
  button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
  }
  
  /* Design de la navigation */
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:30px 0;
  
}
ul{
  list-style: none;

}
nav ul li a{
 color: var(--white-color);
 font-size: 28px;
 font-weight:normal;
 font-family: 'Rajdhani';
 text-transform: uppercase;
 text-decoration: none;
 outline: none;
 line-height:35.73px ;

}
nav ul li a:focus, nav ul li a:visited{
  font-weight: 800;
  border-bottom: 1px solid ;
}
nav ul li a:hover
{
  font-weight: 800;
  border-bottom: 1px solid ;
}

 
/* Design de la partie hero */
#hero{
  background-image: url(./Assets/Illustrations/Bathome1.png);
  height: 901px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
 

}
.content{
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
width: 60%;
margin: 0 auto;
padding-top: 300px;
}
p{
  font-size: 22px;
  font-weight: 400;
  font-family:'Space-Grotesk',sans-serif ;
  line-height: 28px;
}

#hero .titre{
  margin: 20px 0 ;
}
.btn{
  display: inline-block;
  width: 248px;
  height: 64px;
  margin-left:45px;
  margin-top: 10px;
  padding: 20px;
  line-height: 25px ;
  text-align: center;
text-decoration: none;
color: var(--white-color);
font-size: 20px;
background:linear-gradient(273.81deg, rgba(137, 0, 8, 0.6) 0%, rgba(252, 232, 216, 0.4) 100%);
box-shadow: var(--black-color) 5px 5px 60px;
}

#hero .fleche-down{
  display: block;
  width: 70px;
  height: 38px;
  margin: 0 auto;
  margin-top: 260px;
  padding: 0;
}
.scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 50px;
  top: 300px;
}
.scroll .social-media{
margin-top: 15px;
}





/* Design de Batman au ciné */
.card-img{
  display: flex;
  justify-content: space-between;
}
figcaption{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

 
  
  
  